# Python
__pycache__/
*.pyc
*.pyo
venv/
venv-backend/
venv-frontend/

# Operating System/IDE Files
.DS_Store
*.swp
.vscode/

# Frontend (Flet specific)
flet-assets/

# Backend (Sensitive Files)
backend/.env
backend/uploads/

# Logs & debug files
*.log

# Media / demo files
*.mp4
*.webp